@use '@styles/variables.scss' as *;

.container {
  background-color: black;
  min-height: 6vh;
  width: 100vw;
}

.scoreContainer {
  font-size: 0.75rem;
  display: inline-flex;
  border: 1px solid grey;
  flex-direction: column;
  min-height: 6vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  & .scoreBox {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    & .containerLeft {
      display: flex;
      padding-right: 1rem;
      flex-direction: column;
    }
    & .containerRight {
      @include displayFlexCenter;
      padding-left: 1rem;
    }
  }
}


//ticker
$duration: 40s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.tickerWrap {
  
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: rgba(#000, 0.9); 
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
  }

    .tickerItem {
      display: inline-flex;
      font-size: 1rem;
      color: white; 
    }

  }

  .winner {
    color: red;
  }

@media (max-width: 768px) {
  .container, .scoreContainer  {
    min-height: 2vh;
    padding: 0;
  }
}