.container {
  margin-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataTable {
  color: white;
  background-color: black;
}

//media query
@media (max-width: 768px) {
  .container {
    height: auto;
    width: auto;
    margin-top: 0.5rem;
  }
  .dataTableObject {
    font-size: 0.8rem;
  }
}