@use '@styles/variables.scss' as *;

.container {
  display: flex;
  height: 12vh;
  background-color: white;
  padding: 0 5rem 0 5rem;
  flex-direction: column;
  width: 100vw;
}

//mainMenu
.mainMenu {
  display: flex;
  height: 12vh;
  background-color: white;
  z-index:9999;
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    & h4 {
      color: $secondaryColor;
      text-align: right;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5vh + 0.2vmin);
    }
  }
  .bimha {
    font-size: calc(2vw + 2vh + 2vmin);
    font-weight: bold;
    line-height: 8.5rem;
    letter-spacing: calc(0.5vw + 0.5vh + 0.3rem);
    color: black;
    text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
    }
  & .smallLogo {
    margin-right: 2rem;
    height: auto;
    width: 20%;
    max-width: 20%;
  }
}
.active {
  &:hover {
    text-decoration: underline;
  }
}
.menu {
  width: 100%;
  display: flex;
  padding-left: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  z-index:9999;
  & li, a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(0.18vw + 0.2vh + 0.08rem);
    color: $fourthColor;
    font-size: calc(0.5vw + 0.75vh + 0.2vmin);
    font-weight: 500;
    text-decoration: none;
    transition:all 0.17s ease-in-out;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        color: white;
      }
  }
}

.heading {
  font-size: calc(3vw + 3vh + 6vmin);
  font-weight: bold;
  line-height: 8.5rem;
  letter-spacing: 1.5rem;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

//mobileMenu
.menuMobile {
  display: none;
  justify-content: space-evenly;
  font-size: 1.1rem;
  background-color: white;
  color: $secondaryColor;
  & ul {
    padding: 2rem 0;
  }
    & li {
      display: flex;
      padding:  0 0.8rem;
      & .icon {
        margin-right: 0.5rem;
      }
      & a {
        text-decoration: none;
        color:$primaryColor;
        border: none;
      }
  }
}
.mobileHeader {
  display: flex;
  flex-direction: column;
}
.menuMobile__hamburger {
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

//big menu
.mobileListOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  & li {
    padding: 1.5rem 0 ;
  }
  & a:hover {
    text-decoration: none;
  }
}

//small menu
.mobileListSmallClosed {
  display: none;
}
.mobileListSmallOpen {
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
  & li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.7rem 0 ;
  }
  & a:hover {
    text-decoration: none;
  }
}
.mobileListClosed {
  display: none;
}

.timsSmallMenuOpen, .u9SmallMenuOpen, .u11SmallMenuOpen, .u13SmallMenuOpen, .u15SmallMenuOpen, .u18SmallMenuOpen {
  display: flex;
  padding: 0 1rem;
  & > * {
  padding: 0 1rem;
  }
}
.timsSmallMenuClosed, .u9SmallMenuClosed, .u11SmallMenuClosed, .u13SmallMenuClosed, .u15SmallMenuClosed, .u18SmallMenuClosed {
  display: none;
}

//socialBar
.socialBar {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: $secondaryColor;
  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 10rem;
    & li {
      margin-left: 1vw;
      font-size: 1.3vh;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: pink;
      }
    }
  }
}
.listBorder {
  padding: 0 1rem;
  border-left: 1px solid rgb(7, 7, 7);
  border-right: 1px solid rgb(7, 7, 7);
}
.socialMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 1.4vh;
  width: 1.4vh;
  color: rgb(230, 230, 230);
  &:hover {
    color: rgb(134, 134, 134);
  }
}
.iconMobile {
  height: 2vh;
  width: 2vh;
  color: $secondaryColor;
  padding-right: 0.5rem;
}

//subMenu
.subMenu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 4vh;
  align-items: center;
  background-color: black;
  & .desc {
    display: flex;
    align-items: center;
    height: 4vh;
    background-color: black;
    font-size: calc(0.5vw + 0.5vh + 0.5rem);
    font-weight: bold;
    color: white;
    padding: 1rem;
  }
}
.playerMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: black;
  & li {
    border-color: rgb(165, 165, 165);
    border-style: solid;
    border-width: 0.5px 0.5px 0 0.5px;
    padding: 1rem 2rem;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & a {
      text-decoration: none;
      &:hover {
        background-color: $primaryColor;
      }
    }
  }
}
.bttn {
  padding: 2rem 1.5rem;
  background-color: $secondaryColor;
  border: none;
  font-size: calc(0.4vw + 0.4vh + 0.4rem);
}

//stick
.stick {
  position:sticky;
  top: 0px;
  z-index:999;
}

.logoArea {
  @include displayFlexCenter;
  & .logo {
    height: auto;
    width: 20%;
    max-width: 20%;
  }
}

//mediaqueries
@media (max-width: 1200px) {
  .container {
    padding: 0 1rem 0 0;
  }
  .bttn {
    padding: 0.6rem;
  }
  .playerMenu {
    li {
      padding: 0.8rem 1.5rem;
    }
  }
  .logo {
    padding-left: 1rem;
  }
}
@media (max-width: 850px) {
  .container {
    display: none;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;

  }
  .menu li {
    padding: 0 0.4rem;
  }
  .menuMobile__hamburger {
    display: flex;
  }
}
